{% extends 'calculator/base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}{{ title }}{% endblock %}
{% block css %}

<link href="{% static 'css/products.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

<!-- Page Content -->
<!--<div class="container">-->

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Мои покупки</h1>

            <div class="list-group">
                {% include 'myproducts/category.html' %}

            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

<div class="col-lg-9">

            <div class="row">
                {% for product in products %}
                {% if product.is_archived %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product' product.id %}">
                            {% if product.image %}
                            <img class="card-img-top"
                                 src="{{ product.image.url }}"
                                 alt="">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ product.name }}</p>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">Цена: {{ product.price }}</p>
                            <p class="card-text">Дата покупки: {{ product.date_created|date:'d.m.Y'}}</p>
                            {% if product.times >= 1 %}
                            <h5 class="price">{{ product.price |div:product.times |floatformat:2 }} руб. за раз</h5>
                            {% endif %}
                            <h5 class="price">{{ product.times }}
                            {% with modulo=product.times|mod:10 %}
                                {% if product.times == 12 or product.times == 13 or product.times == 14 %}
                                    раз
                                {% elif modulo == 2 or modulo == 3 or modulo == 4 %}
                                    раза
                                {% else %}
                                    раз
                                {% endif %}
                            {% endwith %}
                            </h5>



                            <a href="{% url 'delete_product' product.id %}" style="text-decoration: none; color: gray;">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            <br>
                            <a href="{% url 'restore_from_archive' product.id %}">Восстановить из
                                архива</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            {% if products %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}" tabindex="-1"
                           aria-disabled="true">Назад</a>
                    </li>
                    {% endif %}

                    {% if products.has_other_pages %}
                    {% for page in products.paginator.page_range %}
                    <li
                            class="page-item {% if page == products.number %} active {% endif %}"><a class="page-link"
                                                                            href="?page={{ page }}">{{page}}</a></li>
                    {% endfor %}
                    {% endif %}

                    {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}">Далее</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>

    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Me</p>
    </div>
    <!-- /.container -->
</footer>

<script src="{% static 'js/counter.js' %}"></script>

{% endblock %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- FontAwesome script -->
<script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>

