<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'styles/style.css' %}">-->
     <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    </head>
<body>
{% if user.is_authenticated %}
<div class="menu">
    <div class="wrap">
        <ul>
            <li class="logo">Пользователь: {{ user.username }}</li>

            <li>
                <form action="{% url 'logoutuser' %}" method="POST">
                    {% csrf_token %}
                    <button class="top">Выйти</button>
                </form>
            </li>
            <li><a href="{% url 'my_products' %}">Мои покупки</a></li>
            <li><a href="{% url 'calculator' %}">Калькулятор</a></li>
        </ul>
    </div>
</div>

{% else %}
<div class="menu">
    <div class="wrap">
        <ul>
            <li class=""><a href="{% url 'signupuser' %}">Зарегистрироваться {{ user.username }}</li>
            <li><a href="{% url 'loginuser' %}">Войти</a></li>
        </ul>
    </div>
</div>
{% endif %}

<!--<div class="content">-->
<!--  <div class="wrap">-->
{% block content %}{% endblock %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- FontAwesome script -->
<script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>

</body>
</html>