{% extends 'calculator/base.html' %}
{% load static %}
{% block content %}

<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper" align="center">

                <form class="form" >
                    <!-- Input:Text -->
<!--                    {% csrf_token %}-->
                    {% for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }} </label>
                        {{ field }}
                    </div>
                    {% endfor %}

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Рассчитать" />
                    <a href="{% url 'calculator' %}">Сбросить</a>
                </form>
            <div>Вы используете {{ product }}</div>
            <div>{{ times }} {{ variant }} и потратите</div>
            <div>{{ cost_per_use }} руб. за использование</div>
            </div>
        </div>
    </main>

{% endblock %}