{% extends 'calculator/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}
<p>Калькулятор осознанного потребления для защиты от спонтанных покупок</p>
<p>Рассчитывает, во сколько действительно обойдется покупка - ее стоимость за один раз использования. Помогает
    решить, действительно ли покупка нужна или лучше от нее отказаться и, например, взять вещь в аренду.</p>
<p>Вторая часть приложения - каталог с уже сделанными покупками, где пользователь отмечает каждое использование и
    видит, во что обходится один раз.</p>
<div class="row justify-content-center">
<div class="card shadow-lg border-0 rounded-lg mt-5">

    <div class="card-body">

                <form class="form" >

                    {% for field in form %}
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.username.id_for_label }}">{{ field.label }} </label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <input class="btn btn-primary" type="submit" value="Рассчитать" />
                    <a href="{% url 'calculator' %}">Сбросить</a>
                    </div>
                </form>

            <h5>Вы используете {{ product }}</h5>
            <h5><span class="price">{{ times }} {{ variant }}</span> и потратите</h5>
            <h5><span class="price">{{ cost_per_use }} руб.</span> за использование</h5>

        </div>
        </div>
</div>

{% endblock %}